<ion-header>
  <ion-toolbar>
    <ion-title class="TittleText" slot="start">Travel GO</ion-title>
    <ion-item class="close" *ngIf="login == true" (click)="logout()" slot="end">
      <ion-icon
        color="secondary"
        name="close-circle-outline"
        slot="start"
      ></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    class="img-responsiveMenu"
    src="../../assets/images/LogoTraevlGo.png"
  ></ion-img>

  <ion-content *ngIf="login == true && rol =='propietario'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item style="text-align: center">
            <ion-grid>
              <ion-col>
                <ion-icon
                  name="add-circle-outline"
                  class="icon-size"
                ></ion-icon>
              </ion-col>
              <ion-col>
                <ion-button
                  *ngIf="login == true && rol =='propietario'"
                  expand="block"
                  shape="round"
                  (click)="gotoPlace()"
                >
                  Agregar un lugar
                </ion-button>
              </ion-col>
            </ion-grid>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item style="text-align: center; color: none">
            <ion-grid>
              <ion-col>
                <ion-icon name="map-outline" class="icon-size"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-button
                  expand="block"
                  shape="round"
                  (click)="gotoViewPlace()"
                >
                  Ver mis lugares</ion-button
                ></ion-col
              >
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content *ngIf="login == true && rol =='turista'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item style="text-align: center">
            <ion-grid>
              <ion-col>
                <ion-icon name="map-outline" class="icon-size"></ion-icon>
              </ion-col>
              <ion-col
                ><ion-label class="SubtitleTextContent"
                  >Visita diferentes sitios turísticos desde tu
                  celular!</ion-label
                ></ion-col
              >
            </ion-grid>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item style="text-align: center; color: none">
            <ion-grid>
              <ion-col>
                <ion-icon name="pin-outline" class="icon-size"></ion-icon>
              </ion-col>
              <ion-col
                ><ion-label class="SubtitleTextContent"
                  >Ingresa a la ubicación de cada uno de los sitios!</ion-label
                ></ion-col
              >
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button
      expand="block"
      shape="round"
      class="boton-lugares"
      id="button-places"
      (click)="gotoViewTurista()"
    >
      Ver sitios turísticos
    </ion-button>
  </ion-content>

  <ion-content *ngIf="login == true && rol =='admin'">
    <ion-item style="text-align: center; color: none" (click)="gotoViewAdmin()">
      <ion-grid>
        <ion-col>
          <ion-icon name="settings-outline" class="icon-size"></ion-icon>
        </ion-col>
        <ion-col
          ><ion-label class="SubtitleTextContent"
            >Da clic aquí para administrar los lugares y los usuarios de la App.</ion-label
          ></ion-col
        >
      </ion-grid>
    </ion-item>
  </ion-content>
  <ion-button
    *ngIf="login == false"
    expand="block"
    shape="round"
    (click)="gotoLogin()"
  >
    Iniciar Sesión</ion-button
  >
  <ion-button
    *ngIf="login == false"
    expand="block"
    shape="round"
    (click)="gotoRegister()"
  >
    Registrarse</ion-button
  >
</ion-content>
