<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label  position ="stacked">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position ="stacked">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round"  type="submit" (click)="login()">Iniciar Sesión</ion-button>
        
      </ion-list>
    </form>
  </ion-card>

  <div style="text-align:center">
      <p>¿No tienes una cuenta? da click <a [routerLink]="['/register']"> Aqui!</a></p>
  </div>

</ion-content>
